/lab1/.ipynb_checkpoints
/lab1/.vscode
/lab1/__pycache__
/lab1/problem_1/__pycache__
/lab1/problem_1/.vscode
/lab1/problem_2/.vscode
/lab1/problem_2/__pycache__
/lab1/problem_2/.ipynb_checkpoints
/lab1/problem_4/.ipynb_checkpoints
/lab1/problem_3/.ipynb_checkpoints
/lab1/problem_3/__pycache__
/lab2/.vscode
/lab2/problem1/__pycache__
/lab2/problem2/__pycache__
/lab2/problem3/__pycache__
